*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: aliceblue;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #A3ABB2; 
    height: 15vh;
}

.menu{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    list-style: none;
    display: flex;
    letter-spacing: 1px;
}

.menu li{
    margin-left: 30px;
}

.menu a{
    text-decoration: none;
    color: #3D4243;
    position: relative;
    padding: 0 7px 0 7px;
}

.menu a::after{
    content: " ";
    position: absolute;
    background-color: #17335D;
    width: 0%;
    height: 3px;
    left: 0;
    bottom: -7px;
    transition: 0.3s;
}

.menu a:hover::after{
    width: 100%;
}

#img1{
    height: 100px;
    position: relative;
    margin-left: 1px;
}

button{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.5px;
    position: relative;
    margin-top: 125px;
    padding: 10px 15px;
    border-radius: 20px;
    background-color: #17335D;
    color:  white;
    border: 1px solid #17335D;
    cursor: pointer;
    transition: transform .3s ease;
    margin-left: 40px;
    box-shadow: 1px solid;
    font-size: 16px;
}

button:hover{
    background-color: white;
    color: #17335D;
}

button:hover{
    transform: scale(1.1);
  }

button:hover::before{
    animation: spin 1.5s infinite linear;
  }

#principal{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.5px;
    color: #3D4243;
    margin: 20px;
    line-height: 155%;
    margin-top: 130px;
    
}

#virt{
    position: absolute;
    margin-left: 20px;
    margin-top: 25px;
    display: inline-block;
}

h2{
    background: linear-gradient(90deg, rgba(23,51,93,1) 0%, rgba(163,171,178,1) 42%);     
    background-clip: text;
    color: transparent;
    padding: 10px 0px;

    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 505;
    font-style: normal;
    font-size: 30px;

    margin-left: 20px;
}

footer{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1px;
    color: #3D4243;
    display: flex;
    position: relative;
    justify-content: center;
    margin-top: 186px;
}




